@tailwind base;
@tailwind components;
@tailwind utilities;


@media only screen and (min-width: 1170px) {
  .vertical-timeline.vertical-timeline--two-columns {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
  }
}


.vertical-timeline--animate .vertical-timeline-element-icon.bounce-in{
    background: rgb(45 212 191) !important;
}

html {
  scroll-behavior: smooth;
}

.dir-rtl{
  direction: rtl;
}

.dir-ltr{
  direction: ltr;
}
